@media (max-width: 1000px) {
  .h-content select,
  option {
    display: none;
  }
  .container-f {
    position: relative;
    top: 3rem;
  }
  .p-b-img img {
    width: 20rem !important;
  }

  .Sign-in-btn button {
    font-size: 2rem;
  }

  .your-credit-text p {
    font-size: 1.5rem !important;
  }

  .cart-bio h5 {
    font-size: 2rem !important;
  }
  .card-body {
    height: 18rem !important;
  }

  .forEffect {
    margin-bottom: 1.5rem;
  }

  .lll {
    display: none !important;
  }

  .pb-img img {
    width: 5rem;
    height: 5rem;
  }
  .text-primary {
    font-size: 1.5rem !important;
  }

  .pb-desc {
    font-size: 1.5rem;
  }

  .card-body-1 {
    height: 10rem !important;
  }
  .c-text {
    font-size: 1.5rem !important;
  }
  .test1 {
    margin-bottom: 2rem !important;
  }
}

@media (max-width: 775px) {
  .as-img,
  .gs-img {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid rgb(79, 68, 68);
  }
  .footer-groups {
    flex-direction: column;
    gap: 20px;
  }
  .p-b-img img {
    width: 30rem !important;
  }
  .about-work-block {
    display: grid !important;
  }
  .about-us h5 {
    font-size: 5rem !important;
  }
  .about-us p {
    font-size: 2.5rem !important;
  }
  .about-us {
    margin-bottom: 5rem;
    width: 65rem;
    height: 42rem;
  }
  .about-img img {
    width: 30rem !important;
  }
  .card-body-1 {
    width: 90rem !important;
    height: 15rem !important;
  }

  .work-us h5 {
    font-size: 5rem !important;
  }
  .work-us p {
    font-size: 2.5rem !important;
  }
  .down-l p {
    font-size: 2rem !important;
  }
  .work-us {
    width: 65rem;
    height: 42rem;
  }
  .work-us img {
    width: 30rem !important;
  }
  .your-credit-tex p {
    color: #1b1dc7;
  }
  .mo-li li {
    color: #052f5f;
    font-size: 2rem !important;
  }
  .your-credit-tex button {
    background-color: #1b1dc7;
    border-radius: 0.5 rem !important;
  }
  .mobile-img {
    display: none !important;
  }
  .mob-img-sec {
    display: block !important;
  }
  .container-f {
    margin-top: 6rem !important;
  }
  .txt-p {
    font-size: 2rem !important;
  }
  .p-dsc li {
    font-size: 1.5rem;
  }
  .download-section p {
    font-size: 1.5rem !important;
  }
  .invest {
    flex-direction: column-reverse;
  }

  .invest p {
    font-size: 2rem;
  }
  .p-b-group {
    flex-direction: column;
  }

  .down-l p {
    font-size: 2.5rem;
  }
  .google-apple {
    margin-bottom: 1.5rem !important;
  }

  .google-apple img {
    width: 20rem !important;
  }

  .invest {
    display: flex !important;
    flex-direction: column;
  }

  .s-icon {
    display: flex;
  }

  .mo-i {
    margin-left: auto !important  ;
    margin-right: auto !important;
  }
  .all-pay {
    display: flex !important;
    flex-direction: column;
    justify-content: start;
  }
  .p-img img {
    margin-left: -2rem !important;
    width: 7rem !important;
  }
  .mob-fe {
    margin-left: 5rem;
  }
  .wrap-mob {
    margin-right: -30rem !important;
  }
  .p-txt p {
    font-size: 2rem !important;
  }
  .pay-app {
    margin-left: -1rem !important;
  }
  .top-head p {
    font-size: 2rem !important;
  }
  .our-text p {
    font-size: 2rem !important;
  }
  .aur-investor-card {
    width: 8rem !important;
    height: 5rem !important;
  }
  .s-icon {
    display: flex;
    margin-left: -3rem;
    gap: 4rem;
    margin-bottom: 2rem;
  }
  .first img {
    margin-left: 0.5rem !important;
  }
  .last-fotter,
  .payment-method {
    display: none;
  }
  .paisabazaar {
    margin-left: -0.1rem !important;
  }
  .social-app {
    display: flex !important;
  }
  .india-footer {
    display: flex;
    flex-direction: column;
  }
  .f-ts p {
    font-size: 1.7rem !important;
  }
  .ind-lodos img {
    margin-left: -1rem !important;
    width: 7rem !important;
  }
  .m-i {
    margin-left: 1.2rem !important;
  }
  .ind {
    display: none !important;
  }

  .m-pb {
    display: flex !important;
    flex-direction: column !important;
  }
  .mb-top {
    margin-top: 5rem !important;
  }
  .partners-sections {
    padding: 0.5 rem;
  }
  .h-b {
    display: none;
  }
  .all-btn-pb button {
    font-size: 2rem !important;
  }
  .hide-footer-card {
    display: none !important;
  }
  .our-investor {
    padding: 1rem;
  }
  .aur-investor-card {
    padding: 0 7rem 0 7rem;
  }
  .aur-investor-card img {
    width: 7rem !important;
    height: 3rem;
  }
}
@media (max-width: 550px) {
  .partnerCard {
    width: 15rem !important;
    height: 10rem !important;
  }
  .pb-img {
    margin-left: 1rem;
  }
  .our-investor {
    padding: 1rem;
  }
  .mobile-cart,
  .tropy-sec,
  .about-work-sections,
  .download-section {
    padding: 1rem;
  }
  .footer-down {
    padding: 0 0.5rem 0 0.5rem;
  }
  .aur-investor-card img {
    width: 10rem !important;
    height: 7rem;
  }

  .hd1 {
    display: none;
  }
  .first {
    display: flex;
  }
  .invest p {
    font-size: 3rem !important;
  }
  .card-body {
    width: 98rem !important;
    height: 20rem !important;
  }
  .cart-bio h5 {
    font-size: 3rem !important;
  }
  .cart-bio img {
    width: 8rem !important;
  }
  .cart-bio p {
    font-size: 2.5rem !important;
  }
  .c-text {
    font-size: 1.8rem !important;
  }
  .text-primary {
    font-size: 2.5rem !important;
  }
  .pb-desc {
    font-size: 2rem !important;
  }
  .p-dsc li {
    font-size: 2.5rem !important;
  }
  .download-section p {
    font-size: 2.5rem !important;
  }
  .mmmm {
    display: flex !important;
  }
  .im-b-img {
    display: flex !important;
    justify-content: center;
  }
  .your-credit-tex li {
    display: flex;
    justify-content: center !important;
  }
  .your-credit-tex button {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .down-l p {
    font-size: 3rem !important;
  }
  .second {
    margin-top: 2rem !important;
    padding-left: 1rem !important;
  }
  .all-pay {
    padding-left: 1rem !important;
  }

  /* foooter down temp*/
  .invest-div {
    gap: 10rem !important;
  }
  .s-icon {
    gap: 8rem !important;
  }
  .group-brand {
    margin-left: 10rem !important;
  }
  .google-apple {
    gap: 15rem !important;
  }
  .mb-footer {
    margin-left: 2rem !important;
  }

  .second {
    margin-left: 1rem !important;
  }
  .invest {
    margin-left: 1rem !important;
  }
  .pb-feature {
    width: 80rem;
    margin-left: 10rem !important;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .m-pb {
    width: 100%;
  }
  .m-pb button {
    margin-left: 30rem !important;
    width: 100% !important;
  }
  .im-b-img {
    display: flex;
    margin-top: 5rem !important;
  }
  .cart-sec-2 {
    display: none;
  }
  .mobile-cart {
    display: block;
  }
  .c-text {
    width: 100% !important ;
    font-size: 3rem !important;
  }
  .crt-img img {
    width: 15rem;
  }
  .cart-second {
    margin-top: 6rem !important;
  }
  .mobile-cart h5 {
    margin-top: 10rem !important;
  }
  .im-b-img img {
    width: 35rem !important;
  }
  .your-credit-tex p,
  .your-credit-tex span {
    font-size: 3.5rem !important;
  }
  .your-credit-tex {
    margin-top: 10rem !important;
  }
  .mobile-top {
    gap: 10rem !important;
  }
  .mo-li li {
    font-size: 3rem !important;
  }
  .container-f {
    margin-left: 3rem !important;
  }

  .gs-img img {
    width: 30rem !important;
  }
  .as-img img {
    width: 30rem !important;
  }
  .mlp {
    display: flex !important;
  }
}
